body{
	margin:20px;
	font-family: 'Tahoma';
	padding:5px;
	color:white;
	background-image: url('cloud1.jpg');
	
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
} 

#table{
	font-size: 18px;
	margin-left: 30px;
}

#button{
	font-size: 16px;
	font-weight:600;
	color:#0b0e33;
	border-radius: 5px;
	padding: 4px;
}

.modal{
	color:black;
}
#modal{
	float:right;
	margin-top: 100px;
}
